*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
}
header{
    display: flex;
    height: 166px;
    width: 1440px;
    background-color: #1F2937;
    gap: 450px;
    justify-content: center;
    padding-top: 20px;
}
.header_logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}
.links{
    display: flex;
    margin-right: 10px;
    width: 434px;
    justify-content: space-between;
}
header a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
main{
    display: flex;
    flex-direction: column;
}
.main_top{
    display: flex;
    background-color: #1F2937;
    height: 370px;
    width: 1440px;
    gap: 40px;
    justify-content: center;
}
.main_top_right{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 240px;
    justify-content: space-between;
}
.main_top span{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}
.main_top_right .subtext{
    color: #f9faf8cc;
    font-size: 20px;
}
.main_top_right input{
    height: 38px;
    width: 131px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    border-color: transparent;
}
.image_1{
    width: 525px;
    height: 240px;
}
.main_content{
    display: flex;
    height: 1275px;
    width: 1440px;
    flex-direction: column;
    background-color: white;
}
.some_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.some_info .info_head{
   font-size: 36px;
   font-weight: bold;
   color: #1F2937;
   margin-top: 55px;
}
.info_images{
    display: flex;
    justify-content: space-between;
    width: 770px;
}
.item_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 240px;
    width: 170px;
    margin-top: 57px;
}
.parag{
    height: 170px;
    width: 170px;
    border: 5px solid #3882F6;
    border-radius: 15px;
}
.image_subtext{
    text-align: center;
    color: #272626e8;
    font-size: 20px;
}
.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 430px;
    margin-top: 120px;
    background-color: #E5E7EB;
    padding: 0 20px 0 20px;
}
.quote_text{
    font-size: 36px;
    font-style:  italic;
    color: #1F2937;
    height: 170px;
    width: 790px;
}
.quote_author{
    display: flex;
    justify-content: right;
    font-size: 28px;
    font-weight: bold;
    color: #1F2937;
    width: 790px;
}
.main_footer{
    display: flex;
    justify-content: center;
}
.main_footer_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    width: 1025px;
    height: 150px;
    border: 1px solid black;
    border-radius: 10px;
    border-color: transparent;
    background-color: #3882F6;
}
.action_text{
    color: #F9FAF8;
}
.action_text h2{
    font-size: 26px;
}
.action_text span{
    font-size: 22px;
}
.action_button{
    height: 38px;
    width: 131px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    border: 3px solid white;
}
footer{
    display: flex;
    height: 100px;
    width: 1440px;
    background-color: #1F2937;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}
footer span{
    color: #F9FAF8;
}
