*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header{
    display: flex;
    height: 166px;
    width: 1440px;
    background-color: #1F2937;
    gap: 450px;
    justify-content: center;
    padding-top: 20px;
}
.header_logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}
.links{
    display: flex;
    margin-right: 10px;
    width: 434px;
    justify-content: space-between;
}
header a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
main{
    display: flex;
    flex-direction: column;
}
.main_top{
    display: flex;
    background-color: #1F2937;
    height: 370px;
    width: 1440px;
    gap: 40px;
    justify-content: center;
}
.main_top_right{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 240px;
    justify-content: space-between;
}
.main_top span{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}
.main_top_right .subtext{
    color: #f9faf8cc;
    font-size: 20px;
}
.main_top_right input{
    height: 38px;
    width: 131px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    border-color: transparent;
}
   
img{
    width: 525px;
    height: 240px;
}